.outdoorCard {
    min-height: 200px;
    border-radius: 20px;
    background-color: rgb(44, 43, 43);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}

.outdoorCardRow {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
}

.outdoorCardRow + .outdoorCardRow {
    position: relative;
}

.outdoorCardRow + .outdoorCardRow::before {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    height: 1px;
    background-color: #555;
}

.outdoorCardColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.outdoorCardColumn + .outdoorCardColumn {
    position: relative;
}

.outdoorCardColumn + .outdoorCardColumn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
    width: 1px;
    background-color: #555;
}

.outdoorCardClockContainer {
    color: white;
    font-size: 60px;
}

.outdoorCardWeatherContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.outdoorCardWeatherRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.outdorrCardWeatherTemperatureContainer {
    color: white;
    font-size: 45px;    
}

.outdorrCardWeatherSkyContainer {
}

.outdorrCardWeatherSkyIcon {
    height: 50px;
}

.outdorrCardWeatherUVindexContainer {
    color: white;
    font-size: 30px;    
}

.outdorrCardWeatherAQIContainer {
    color: white;
    font-size: 30px;    
}

.outdoorCardWindContainer {
    color: white;
    font-size: 25px;
}

.outdoorCardAlertContainer {
    padding: 15px;
    color: white;
    font-size: 20px;
}

.alertsNormal {
    color: lightgreen;
}

.alertsLow {
    color: yellow;
}

.alertsMiddle {
    color: orange;
}

.alertsHigh {
    color: red;
}