.homePage {
  width: 70%;
  height: 100%;
  margin-left: 15%;
  padding-top: 100px;
}

.homeCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.homeCardsColumn {
  flex: 1;
}