.homePage {
  width: 70%;
  height: 100%;
  margin-left: 15%;
  padding-top: 100px;
}

.homeCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.homeCardsColumn {
  flex: 1;
}

.homeCard {
  padding-top: 30px;
  padding-bottom: 20px;
  min-height: 100px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.8);
  transition: background-color 2s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.homeCardAlphaChannel {
  background-color: rgba(44, 43, 43, 0.7);
}

.homeCard + .homeCard {
  margin-top: 25px;
}

.homeCardTitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.homeCardRow {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
}

.homeCardRowNoBorder {
  min-height: 0px;
  padding-bottom: 20px;

}

.homeCardRow + .homeCardRow {
  position: relative;
}

.homeCardRow + .homeCardRow:not(.homeCardRowNoBorder)::before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  height: 1px;
  background-color: #555;
}